<p>
  Hub USP Inovação: foi solicitada uma atualização de dados da sua empresa na plataforma 
</p>

<p>
  Para garantir a segurança desta solicitação, informe o token quando solicitado no site:
</p>

<p><%= @token %></p>

<p>
  Ou acesse diretamente no link
</p>

<p>
  <a href="https://hubuspinovacao.if.usp.br/empresas/atualizar?token=<%= @token %>">https://hubuspinovacao.if.usp.br/empresas/atualizar?token=<%= @token %></a>
</p>
