<p>
  Hub USP Inovação: foi solicitada uma atualização de seu cadastro na plataforma 
</p>

<p>
  Para garantir a segurança desta solicitação, informe o token quando solicitado no site:
</p>

<p><%= @token %></p>

<p>
  Ou acesse diretamente no link
</p>

<p>
  <a href="http://localhost:3000/competencias/atualizar?token=<%= @token %>">http://localhost:3000/competencias/atualizar?token=<%= @token %></a>
</p>
