<p>
  Hub USP Inovação: foi solicitada uma atualização de seu cadastro na plataforma 
</p>

<p>
  Para garantir a segurança desta solicitação, informe o token quando solicitado no site:
</p>

<p><%= @token %></p>
