<h1>Hub USP Inovação: Aviso sobre atualização de Competências</h1>

<p>Novos pesquisadores solicitaram alterações nos seus dados. As mudanças foram anexadas na nova versão da planilha que está em anexo.</p>