hubuspinovacao.if.usp.br

handle /cms/* {
  reverse_proxy payload:3000
}

handle /api/catalog/* {
  uri strip_prefix /api/catalog
  reverse_proxy catalogapp:8080
}

handle /api/company {
  rewrite * /company-data
  reverse_proxy catalogapp:8080
}

handle_path /api/* {
  uri strip_prefix /api
  reverse_proxy catalogapp:8080
}

reverse_proxy /* frontend:3000
